.toast-header button {
  display: none !important;
}

.fade.toast {
  margin-bottom: 30px;
}

.toast {
  max-width: 100%;
  strong {
    font-size: 1.2em;
  }
  small {
    font-size: 1em;
  }
  .notification-text {
    font-size: 1.2em;
  }
}

.notification {
  cursor: pointer;
}

