/* Grow Animation */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.card a:hover {
  color: black;
}

.layout-width {
  max-width: 500px;
  margin: auto;
  padding: 50px 20px;
}

.relative {
  position: relative;
}

.primary {
  background-color: #3264a8 !important;
  color: white !important;
  border-radius: 50% !important;
  font-size: 1.6em !important;
  line-height: inherit !important;
  min-height: 50px !important;
  min-width: 50px !important;
}

.secondary {
  background-color: #85ace2 !important;
  color: white !important;
  border-radius: 50% !important;
  font-size: 1.6em !important;
  line-height: inherit !important;
  min-height: 50px !important;
  min-width: 50px !important;
}

.third {
  background-color: #353d47 !important;
  color: white !important;
  border-radius: 50% !important;
  font-size: 1.6em !important;
  min-height: 50px !important;
  min-width: 50px !important;
  line-height: inherit !important;
}

.breadcrumb a {
  color: #3264a8;
}

.disable-breadcrumb a {
  color: black !important;
  font-weight: bold;
}

.disable-breadcrumb a:hover {
  color: black !important;
  cursor: default;
}
