.transactions-page h1 {
  margin-bottom: 30px;
}

.transactions-page {
  .action-container {
    position: absolute;
    right: 0px;
    top: -65px;
  }
}
.transactions-page h1 {
  margin-top: 60px;
}
// needs to be 800px for people for longer names to not overlap on the icons
@media (min-width: 800px) {
  .transactions-page {
    .action-container {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .transactions-page h1 {
    margin-top: 0px;
  }
}
