.navigation {
  margin: 30px 15px;
  border-radius: 30px;
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 118px;
  position: fixed;
  top: 0;
  bottom: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 14px 28px 59px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 28px 59px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 28px 59px -31px rgba(0, 0, 0, 0.75);
  // .MuiListItem-root {
  //   padding-top: 4px !important;
  //   padding-bottom: 4px !important;
  // }
  ul a:hover {
    background-color: none !important;
  }
  button {
    min-width: 60px !important;
    padding-left: 12px;
  }
  button:hover {
    background-color: none !important;
  }
  button:hover {
    background-color: white !important;
  }
  .navigation-top .MuiList-padding {
    padding: 0 !important;
  }
}

.MuiListItem-button {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.notification-alert {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #587c90;
  position: absolute;
  top: 2px;
  right: 17px;
}

.extra-nav-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation {
  .MuiListItem-button {
    .special-nav-link {
      font-family: 'Roboto', sans-serif;
      font-size: 0.6em;
    }
  }
  span.MuiButton-label {
    display: flex;
    flex-direction: column;
    small {
      text-transform: capitalize !important;
      padding-top: 10px;
      font-size: 0.9em;
    }
  }
}

.navigation {
  .MuiList-padding {
    padding-top: 0;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  small {
    padding-top: 10px;
    text-align: center;
  }
}

.menu-hover {
  top: 0px !important;
  left: 110px !important;
  .MuiPaper-rounded {
    border-radius: 15px !important;
  }
}

.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: black !important;
}

.far {
  font-size: 1.3em;
}

.fas {
  font-size: 1.3em;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #50778b !important;
}

a div:hover {
  background-color: white !important;
}

.nav--logo-image {
  background-image: url('../../Images/long-logo.png');
  padding-left: 0;
  width: 170px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
