h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 0;
}

// .savings-color {
//   background-image: linear-gradient(to right, #dfede0, #a9c4aa);
//   color: white !important;
// }

// .current-color {
//   background-image: linear-gradient(to right, #dfede0, #a9c4aa);
//   color: white !important;
// }

// .credit-color {
//   background-image: linear-gradient(to right, #dfede0, #a9c4aa);
//   color: white !important;
// }

.account {
  width: 100%;
}

.account-section {
  margin-bottom: 20px;
  section {
    display: block;
  }
  small {
    padding-left: 0;
  }
}

@media (min-width: 980px) {
  .account-section {
    section {
      display: flex;
      justify-content: space-between;
    }
  }

  .account {
    cursor: pointer;
    // width: 48%;
    margin: 20px 0;
  }
}
