.account {
  width: 100%;
}

.account-section {
  margin-bottom: 20px;
  section {
    display: block;
  }
  small {
    padding-left: 0;
  }
  div {
    // border-radius: 15px;
    overflow: hidden;
  }
}

@media (min-width: 980px) {
  .account-section {
    section {
      display: flex;
      justify-content: space-between;
    }
  }

  .account {
    cursor: pointer;
    // width: 48%;
    margin: 20px 0;
  }
}
