/* Grow Animation */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.account {
  width: 100%;
}

.account-section {
  margin-bottom: 20px;
  section {
    display: block;
  }
  small {
    padding-left: 0;
  }
}

@media (min-width: 980px) {
  .account-section {
    section {
      display: flex;
      justify-content: space-between;
    }
  }

  .account {
    cursor: pointer;
    // width: 48%;
    margin: 20px 0;
  }
}
