/* Grow Animation */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

h6 {
  margin: 0;
}

.card-header {
  background-color: white;
  padding: 20px 30px;
}

.card-transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 10px 0;
  align-items: center;
  small {
    padding: 0 30px;
  }
  span {
    padding: 0 10px;
  }
}

.transaction-top-info {
  display: flex;
  flex-direction: row !important;
}

.transaction-right-info {
  height: fit-content;
}

.transaction-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
  }
  h6 {
    padding-left: 5px;
    padding-top: 2.45px;
  }
  .badge {
    padding: 8px 20px;
  }

  .badge-Housing {
    background-color: #faf8c0 !important;
  }

  .badge-Transport {
    background-color: #f0bb8d !important;
  }

  .badge-Food.and.Dining {
    background-color: #e67b77 !important;
  }

  .badge-Utility.Bills {
    background-color: #b9de9b !important;
  }

  .badge-Cell.Phone {
    background-color: #64b56a !important;
  }

  .badge-Childcare.and.School.Costs {
    background-color: #6fd9c7 !important;
  }

  .badge-Pet.Food {
    background-color: #42aab8 !important;
  }

  .badge-Pet.Insurance {
    background-color: #286fad !important;
  }

  .badge-Clothing {
    background-color: #cacaeb !important;
  }

  .badge-Health.Insurance {
    background-color: #b5a5c7 !important;
  }

  .badge-Fitness {
    background-color: #ebd0f2 !important;
  }

  .badge-Auto.Insurance {
    background-color: #f0bde5 !important;
  }

  .badge-Life.Insurance {
    background-color: #9e5d7c !important;
  }

  .badge-Fun.Stuff {
    background-color: #bd7228 !important;
  }

  .badge-Travel {
    background-color: #e6e6e6 !important;
  }

  .badge-Student.Loans {
    background-color: #7f7691 !important;
  }

  .badge-Credit.Card.Debt {
    background-color: #0aa687 !important;
  }

  .badge-Retirement {
    background-color: #b0cf9b !important;
  }

  .badge-Emergency.Fund {
    background-color: #dbc2b4 !important;
  }

  .badge-Large.Purchases {
    background-color: #757575 !important;
  }

  .badge-Other {
    background-color: #e2cfff !important;
  }
}

.card-transaction:hover {
  text-decoration: none;
  color: inherit;
}

.card-transaction:focus {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 980px) {
  .card-transaction {
    display: flex;
    justify-content: space-between;
  }
}
