.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: black !important;
}

.MuiToolbar-regular {
  justify-content: space-between;
}

.far {
  font-size: 1.5em;
}

.fas {
  font-size: 1.5em;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}
