.summary {
  h4 {
    margin: 20px 0;
  }
  h5 {
    margin-bottom: 15px;
  }
  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    background-color: #3f51b5;
    margin-top: 20px;
  }
}
