.top-slide-nav {
  position: relative;
  min-height: 45px;
  .right {
    position: absolute;
    top: 25px;
    right: 30px;
  }
  .left {
    position: absolute;
    top: 17.5px;
    left: 8px;
  }
  .notification-alert-mobile-top {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #587c90;
    position: absolute;
    top: -8px;
    right: -8px;
  }
  .notification-alert-mobile-top:hover {
    background-color: #587c90 !important;
  }
}

.bottomNavigation a:hover {
  color: #587c90;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.bottomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-top: 1px solid lightgray;
  height: 65px !important;
  justify-content: space-between !important;
  padding: 0 10px;
}

.bottomNavigation button {
  height: 100%;
  padding: 0 !important;
  height: 100%;
  min-height: 74px;
}

.notification-alert-mobile {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #587c90;
  position: absolute;
  top: 7px;
  right: 20px;
}

.bottomNavigation i {
  padding-bottom: 10px;
}

.bottomNavigation a {
  min-height: 74px;
  display: inherit;
}

.MuiBottomNavigationAction-label {
  opacity: 1 !important;
}

@media (min-width: 500px) {
  .top-slide-nav .left {
    left: 15px;
  }
  .right {
    position: absolute;
    top: 20px;
    right: 45px;
  }
}

@media (min-width: 600px) {
  .bottomNavigation {
    padding: 0 50px;
  }
}

@media (min-width: 980px) {
  .top-slide-nav {
    display: none;
  }
}
