.bottomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-top: 1px solid lightgray;
  height: 75px !important;
  justify-content: space-between !important;
  padding: 0 20px;
}

.bottomNavigation button {
  height: 100%;
  padding: 0 !important;
}

.MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
  padding-top: 5px;
}

.MuiBottomNavigationAction-label {
  opacity: 1 !important;
}

@media (min-width: 500px) {
  .bottomNavigation {
    padding: 0 10%;
  }
}
