.bottomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-top: 1px solid lightgray;
  height: 65px !important;
  justify-content: space-between !important;
}

.bottomNavigation button {
  height: 100%;
  padding: 0 !important;
  height: 100%;
  min-height: 74px;
}

.bottomNavigation i {
  padding-bottom: 10px;
}

.bottomNavigation a {
  min-height: 74px;
  display: inherit;
}

.MuiBottomNavigationAction-label {
  opacity: 1 !important;
}
