main {
  flex-grow: 1;
  margin-top: 65px;
  margin-left: 240px;
  margin: 0;
  position: relative;
  padding: 30px;
}

@media (min-width: 980px) {
  main {
    margin-top: 65px;
    margin-left: 240px;
  }
}
