.single-account {
  position: relative;
  .tab-content {
    margin-top: 25px;
  }
  .action-container {
    top: 0;
    right: 0;
  }
  .tab-content .active {
    color: black;
  }
  h5 {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .single-account .action-container {
    top: -85px;
  }
  .single-account h1 {
    margin-top: 80px;
  }
}
