.single-account {
  position: relative;
  .tab-content {
    margin-top: 25px;
  }
  .action-container {
    top: 0;
    right: 0;
  }
  .tab-content .active {
    color: black;
  }
  h5 {
    margin-bottom: 10px;
  }
}
