.action-container {
  position: absolute;
  right: 0px;
  top: 0px;
  i {
    font-size: 0.7em;
  }
  button {
    margin: 0 5px;
  }
  .account {
    margin-bottom: 25px;
  }
  .account-section {
    margin-top: 50px;
  }
}

.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .filter {
    height: 45px;
    min-width: 30%;
    border: 1px solid lightgray;
    background-color: white;
  }
  .search-box {
    min-width: 60%;
  }
}

.accounts-page {
  .action-container {
    position: absolute;
    right: 0px;
    top: -65px;
  }
}
.accounts-page h1 {
  margin-top: 60px;
}

.mobile-filter {
  padding-bottom: 15px;
}

@media (min-width: 980px) {
  .account-section {
    margin-top: 10px;
  }
  .mobile-filter {
    padding-bottom: 0px;
  }
}

// needs to be 800px for people for longer names to not overlap on the icons
@media (min-width: 800px) {
  .accounts-page {
    .action-container {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .accounts-page h1 {
    margin-top: 0px;
  }
}
