.action-container {
  position: absolute;
  right: 30px;
  top: 20px;
  i {
    font-size: 0.7em;
  }
  button {
    margin: 0 5px;
  }
  .account {
    margin-bottom: 25px;
  }
  .account-section {
    margin-top: 50px;
  }
}

.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .filter {
    height: 45px;
    min-width: 30%;
  }
  .search-box {
    min-width: 60%;
  }
}

@media (min-width: 980px) {
  .account-section {
    margin-top: 10px;
  }
  .filter {
    min-width: 100%;
  }
  .search-filter {
    flex-direction: column;
  }
}
