.progress {
  background-color: white;
  height: 35px;
  margin: 10px 0;
  // .bg-hello {
  //   background-color: black !important;
  // }
}

.progress-bar {
  background-color: #91a9b6 !important;
}
